<div class="side-bar-right col-sm-3 flex text-center">

  <div class="card" style="width: 18rem;">
    <br></br>
    <div class="container">
      <img src="https://moonphase.guide/module/MVitCdDJoN21yWGNDaU5uL2ZKQjVMRkI1UVptSFMxMGZyQW9FQzRKV2d3NUhGWlpZV3RmSzRMMW56bVBFNWt0clJKM21uTTRiTVFBZWpHM0RLVklYcWc9PQ.png"/>
    </div>
    <div class="card-body">
      <dt class="card-text">Lunar Recommendation: <%= @recommendation %></dt>
    </div>
    <dd class="card-text">Illumination:
      <%= @moon_data.illumination %>%</dd>
    <dd class="card-text">Moon Type:
      <%= @moon_data.name %></dd>
  </div>
  <br>
  <br>
  <% weather = get_weather %>
    <div class="card d-flex" style="width: 18rem;">
    <div class="container">
      <img class="weather-image rounded" src="http://openweathermap.org/img/wn/<%= weather.icon %>@2x.png">
      <div class="card-body">
        <h5 class="card-title">Today's Weather</h5>
        <p class="card-text">Today's temperature is a 
        <% if weather.temp < 69 %>
        balmy
        <% elsif weather.temp >= 69 && weather.temp < 90 %>
        warm 
        <% else %>
        blistering
        <% end%>
        <strong><%= weather.temp %></strong> with a touch of <strong><%= weather.description %>.</strong></p>
      </div>
    </div>
</div>