<div class="container text-center d-flex" style="max-height: 100%, max-width: 100%">
  <div class="side-bar-left col-sm-3 mw-100">
    <div class="logo">
      <%= render inline: Rails.root.join('public/moon-garden-logo.svg').read %>
    </div>
  </div>

  <div class="dash-main-bar col-sm-10" style="max-height: 100%">

    <%= render partial: "shared/header" %>

    <div class="dash-container">
      <h1>
        Enter Garden Details
      </h1>

      <%= form_with url: gardens_path, local:true do |form| %>
      <div class="mb-3">
        <%= form.label "Garden Name" %>
        <%= form.text_field :name , class: "form-control"%>
      </div>

      <div class="mb-3">
        <%= form.label "Notes" %>
        <%= form.text_field :notes, class: "form-control"%>
      </div>

      <div class="mb-3">
        <%= form.label "Cardinal Direction" %>
        <%= form.select :cardinal_direction, ['North','South','East', 'West']%>
      </div>

      <div class="mb-3">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>
</div>


<%= render partial: "shared/moon_widget" %>

</div>