<div class="container text-center d-flex" style="max-height: 100%; margin-left: 40px;">

  <div class="side-bar-left col-sm-3 mw-100">
    <div class="logo">
      <a href="/moon_booty">
        <%= render inline: Rails.root.join('public/moon-garden-logo.svg').read %>
      </a>
    </div>


  </div>

  <div class="dash-main-bar col-sm-10" style="max-height: 100%">
    <%= render partial: "shared/header" %>
    <div class="dash-container">
      <h1 class="display-5"><%= @garden.name %>'s Plant Tracker</h1>

      <h3>Planted
        <%= @garden.cardinal_direction %>
        Facing</h3>
      <p class="lead">
        <%= @garden.notes %></p>
    <br>
    </br>
    <div class="d-flex justify-content-center" role="search">
      <%= form_with url: "/gardens/#{@garden.id}/plants", method: :get, local: true do |f| %>
      <%= f.hidden_field :query, value: "name" %>

      <div class="form-floating" id="formSelect" >
      <%= f.text_field :search, class: "form-control me-2", type: "search" %>
      <%= f.label "Plant Name Search", for: "formSelect" %>
      </div>

      <%= f.submit "Find Plants to add to Garden", class: "btn btn-success" %>

      <% end %>
    </div>
    <br>
    <% @plants.each do |plant| %>

      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <%= plant.name %>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="plant-<%= plant.id %>">
              <div class="accordion-body">

              <dl class="row">
              <% if plant.date_planted != "" %>
                <dt class="col-sm-4">Date Planted:</dt>
                <dd class="col-sm-9"><%= plant.date_planted.to_datetime.strftime('%m-%d-%Y') %></dd>
              <% end %>
                <dt class="col-sm-4">Moon Phase During Planting:</dt>
                 <dd class="col-sm-9"><%= plant.moon_phase %></dd>

                <dt class="col-sm-4">Amount Produced:</dt>
                <dd class="col-sm-9"><%= plant.bounty_amount %></dd>

                <dt class="col-sm-4">Pruning Behaviors:</dt>
                <dd class="col-sm-9"><%= plant.pruning_behaviors %></dd>

                <dt class="col-sm-4">Plant Notes:</dt>
                <dd class="col-sm-9"><%= plant.notes %></dd>
              </dl>

              <%= form_with url: "/gardens/#{@garden.id}/plants/#{plant.id}/edit", method: :get, local: true do |f| %>
              <%= f.hidden_field :date_planted, value: plant.date_planted %>
              <%= f.hidden_field :moon_phase, value: plant.moon_phase %>
              <%= f.hidden_field :bounty_amount, value: plant.bounty_amount %>
              <%= f.hidden_field :pruning_behaviors, value: plant.pruning_behaviors %>
              <%= f.hidden_field :notes, value: plant.notes %>
              <div class="d-grid gap-2 justify-content-md-end">
              <%= f.submit "Add Tracking Info", class: "btn btn-light" %>
              <% end %>


              <%= button_to "Remove Plant", "/gardens/#{@garden.id}/plants/#{plant.id}", method: :delete, class:"btn btn-danger"%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>

  <%= render partial: "shared/widgets" %>

</div>
