<div class="container text-center d-flex" style="max-height: 100%">

  <div class="side-bar-left col-sm-3 mw-100">
    <div class="logo">
      <%= render inline: Rails.root.join('public/moon-garden-logo.svg').read %>
    </div>
  </div>

  <div class="dash-main-bar col-sm-10" style="max-height: 100%">
    <%= render partial: "shared/header" %>
    <div class="dash-container">
      <h1><%= @garden.name %>'s Plants</h1>
      <hr>

      <h3>Planted
        <%= @garden.cardinal_direction %>
        facing</h3>
      <p>Notes:
        <%= @garden.notes %></p>
      <hr>
      <div align="center" class="movieSearch">
        <%= form_with url: "/gardens/#{@garden.id}/plants", method: :get, local: true do |f| %>
        <%= f.hidden_field :query, value: "name" %>
        <%= f.text_field :search, placeholder: "Plant Name" %>
        <%= f.submit "Find Plants to add to Garden" %>
      <% end %>
    </div>
    <% @plants.each do |plant| %>

      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <%= plant.name %>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="plant-<%= plant.id %>">
              <div class="accordion-body">
                <%= form_with url: "/gardens/#{@garden.id}/plants/#{plant.id}", method: :delete, local: true do |f| %>
                <%= f.hidden_field :query, value: "name" %>
                <%= f.submit "Delete Plant" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
<%= render partial: "shared/moon_widget" %>
</div>