<div class="container text-center d-flex" style="max-height: 100%">

  <div class="side-bar-left col-sm-3 mw-100">
    <div class="logo">
      <%= render inline: Rails.root.join('public/moon-garden-logo.svg').read %>
    </div>
  </div>

  <div class="dash-main-bar col-sm-10" style="max-height: 100%">
    <%= render partial: "shared/header" %>
    <div class="dash-container">

      <img src="<%=session[:image]%>" alt="user image"/>
      <h1>
        <%=session[:first_name]%>'s Gardens
      </h1>
      <% @gardens.each do |garden|%>

        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <%= garden.name%>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>
                  <b>
                    Cardinal Direction:
                  </b>
                  <%= garden.cardinal_direction%><br>
                  <b>
                    Notes:
                  </b>
                  <%= garden.notes%>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="side-bar-right col-sm-3">
    <br>
    </br>
    <br>
    </br>
    <div class="recommendation-container rounded">
      <div class="row">
        <div class="col">
          Waning: Avoid planting and focus on fertilizing the soil. This is the best time to mow grass, harvest, transplant and prune.
        </div>
      </div>
    </div>
    <div class="widget">
      <iframe allowtransparency="yes" scrolling="no" style="border: 0px solid #FFFFFF; width:190px; height:302px; overflow: hidden;" src="https://in-the-sky.org/widgets/moonphase.php?skin=0"></iframe>
    </div>
  </div>
</div>